<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/__lazy_filler/styles.css">
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const form = document.getElementById("update_form");
        const value = document.getElementById("value");
        const statusOk = document.getElementById("status-ok");
        const submitButton = document.getElementById("submit");

        form.addEventListener("submit", async (e) => {
          e.preventDefault();

          const formData = new FormData(form);

          submitButton.disabled = true;
          value.disabled = true;

          const response = await fetch(form.action, {
            method: form.method,
            body: formData,
          });

          if (response.ok) {
            statusOk.style.display = "flex";

            setTimeout(() => {
              window.location.reload();
            }, 2000);
          } else {
            alert("Failed to update translation");
          }
        });
      });
    </script>
  </head>
  <body
    class="p-5 text-base text-gray-800 bg-white dark:text-gray-100 dark:bg-gray-900"
  >
    <div class="py-8 mx-auto space-y-8 max-w-prose">
      <h1 class="flex gap-2 items-center text-xl font-bold">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="text-red-500 size-[1.5em]"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z"
          />
        </svg>

        <span><%= title %></span>
      </h1>

      <form id="update_form" action="/__lazy_filler" method="post">
        <div class="flex flex-col gap-y-4 items-start">
          <input type="hidden" name="key" value="<%= key %>">

          <label for="value" class="">
            <strong>Key:</strong>
            <code><%= key %></code>
          </label>
          <textarea
            type="text"
            name="value"
            id="value"
            class="py-2 px-3 w-full text-base rounded border border-gray-400 ring-blue-300 shadow-inner appearance-none outline-none focus:ring disabled:bg-gray-100 disabled:cursor-not-allowed"
            placeholder="Translation"
            autofocus
            required
          ></textarea>
          <div class="flex gap-2 items-center">
            <button
              type="submit"
              id="submit"
              class="py-2 px-3 font-semibold text-white bg-blue-500 rounded ring-blue-300 appearance-none outline-none focus:ring disabled:opacity-50 disabled:cursor-not-allowed"
            >Write to
              <code><%= locale_file %></code></button>
            <div
              id="status-ok"
              class="hidden gap-2 items-center p-1 pr-3 text-sm font-semibold text-green-900 bg-green-400 rounded-full border border-green-500"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="text-green-600 size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                />
              </svg>
              <span>Added, reloading...</span>
            </div>
          </div>
        </div>
      </form>

      <div class="space-y-4">
        <h2 class="font-bold">Other translations</h2>
        <table class="border border-gray-400">
          <% cell_cls = "text-left p-2 border border-gray-400" %>
          <thead>
            <tr>
              <th class="<%= cell_cls %>">Locale</th>
              <th class="<%= cell_cls %>">Value</th>
            </tr>
          </thead>
          <tbody>
            <% other_translations.each do |locale, translation| %>
              <tr>
                <td class="<%= cell_cls %>"><code><%= locale %></code></td>
                <td class="<%= cell_cls %>"><%= translation %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="space-y-4">
        <h2 class="font-bold">Put the GPUs to work</h2>
        <p>Copy this into ChatGPT or alike:</p>

        <div class="p-5 space-y-4 italic rounded border">
          <p>
            You are a translation bot. I will give key-value translations in
            YAML format and your job is to provide values for the keys I send
            you. You must only reply with the value and nothing else.
            <br><br>
            Given these translations<br>
            <%= other_translations.map { |k, v| "  #{k}: #{v}" }.join("<br>") %>
            <br><br>
            What would be the value of<br>
            en:
          </p>
        </div>
      </div>
    </div>
  </body>
  <!-- LazyFiller::ErrorPage -->
</html>
